# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/pycqa/isort
    rev: "5.9.3"
    hooks:
    -   id: isort
        args: ["--profile", "black", "--filter-files"]
-   repo: https://github.com/psf/black
    rev: "21.9b0"
    hooks:
    -   id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.2"
    hooks:
    -   id: flake8
        args: ["--max-line-length", "88"]
