name: CI

on: [push, pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
      - name: add required locales for tests
        run: sudo locale-gen fr_FR.UTF-8 pt_BR.UTF-8 && sudo update-locale
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: set image name
        run: echo ::set-env name=toxpyv::py$(echo "${matrix.python-version//\./}")
      - name: verify envname
        run : echo $toxpyv
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Test with tox
        run: tox -e $toxpyv

  qa:
    runs-on: ubuntu-latest
    steps:
    - name: add required locales for tests
      run: sudo locale-gen fr_FR.UTF-8 pt_BR.UTF-8 && sudo update-locale
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U tox
    - name: Run tox
      run: tox -e py38,black,coverage
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

